{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card my-4">
                <div class="card-body">
                    {% if validlink %}
                        <h2>Redefinir senha</h2>
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button type="submit" class="btn btn-success">Redefinir</button>
                        </form>
                    {% else %}
                        <h2>Link inválido!</h2>
                        <p>
                            <a href="{% url 'password_reset' %}">Reenviar link.</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}